{% extends 'item/base.html' %}
{% load static %}
{% block content %}
<section class="feq__asked__que">
	<div class="container">
		<div class="row">
			{% for item in category %}
			<div class="col-md-12">
				<div class="top__bgr__banner__srvs">
					<div class="top__bgr__banner__srvs__content">
						<img src="{{ item.image.url }}" alt="">
						<div class="faq__ban__txt text-center">
							<div class="section__heading wht__heading no__padding__heading">
								<h1>{{ item.name }}</h1>
							</div>
							<div class="serv_ban_para">
								<p>{{ item.description|linebreaks }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 mx-auto frequently__ask__qans">
					<div id="accordion">
						{% for obj in item.quecat.all %}
					    <div class="card">
					      <div class="card-header">
					      <a class="card-link faq__question" data-toggle="collapse" href="#ques{{ obj.id }}">
					      	<span>{{ forloop.counter }}</span>
					      	 {{ obj.question }}
					        </a>
					      </div>
					      <div id="ques{{ obj.id }}" class="collapse" data-parent="#accordion">
					        <div class="card-body">
					          {{ obj.answer }}
					        </div>
					      </div>
						</div>
						{% endfor %}
					    <!-- <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link faq__question" data-toggle="collapse" href="#collapseTwo">
						      	<span>2</span>
					        How many times can a rabbit produce in a year?
					      </a>
					      </div>
					      <div id="collapseTwo" class="collapse" data-parent="#accordion">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					    </div> -->
					    <!-- <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link faq__question" data-toggle="collapse" href="#collapseThree">
					        	<span>3</span>
					          How many bunnies are produced at a time from a doe?
					        </a>
					      </div>
					      <div id="collapseThree" class="collapse" data-parent="#accordion">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					    </div> -->
					    <!-- <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link faq__question" data-toggle="collapse" href="#collapseFour">
					        	<span>4</span>
					          How many bunnies are produced at a time from a doe?
					        </a>
					      </div>
					      <div id="collapseFour" class="collapse" data-parent="#accordion">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					    </div> -->
					    <!-- <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link faq__question" data-toggle="collapse" href="#collapseFive">
					        	<span>5</span>
					          How many bunnies are produced at a time from a doe?
					        </a>
					      </div>
					      <div id="collapseFive" class="collapse" data-parent="#accordion">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					   </div> --> 
					</div>
   					</div>
				</div>
				{% endfor %}
			</div>
			
		</div>
		<!-- <div class="row pd__btm__tp">
			<div class="col-md-12">
				<div class="top__bgr__banner__srvs">
					<div class="top__bgr__banner__srvs__content">
						<img src="{% static 'images/faq.jpg' %}" alt="">
						<div class="faq__abt__rabt__meat text-center">
							<div class="section__heading wht__heading no__padding__heading">
								<h1>Meat Related Questions</h1>
							</div>
							<div class="serv_ban_para">
								<p>Himalayan Rabbits are naturally produced meat-type</br> rabbits raised</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 mx-auto">
					<div id="accordion__meat">
					    <div class="card">
					      <div class="card-header">
					      <a class="card-link faq__question" data-toggle="collapse" href="#collapseMeatOne">
					      	<span>1</span>
					      	 What are the color, taste, and texture of rabbit meat?
					        </a>
					      </div>
					      <div id="collapseMeatOne" class="collapse show" data-parent="#accordion__meat">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					    </div>
					    <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link faq__question" data-toggle="collapse" href="#collapseMeatTwo">
						      	<span>2</span>
					        How many times can a rabbit produce in a year?
					      </a>
					      </div>
					      <div id="collapseMeatTwo" class="collapse" data-parent="#accordion__meat">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					    </div>
					    <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link faq__question" data-toggle="collapse" href="#collapseMeatThree">
					        	<span>3</span>
					          How many bunnies are produced at a time from a doe?
					        </a>
					      </div>
					      <div id="collapseMeatThree" class="collapse" data-parent="#accordion__meat">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					    </div>
					    <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link faq__question" data-toggle="collapse" href="#collapseMeatFour">
					        	<span>4</span>
					          How many bunnies are produced at a time from a doe?
					        </a>
					      </div>
					      <div id="collapseMeatFour" class="collapse" data-parent="#accordion__meat">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					    </div>
					    <div class="card">
					      <div class="card-header">
					        <a class="collapsed card-link faq__question" data-toggle="collapse" href="#collapseMeatFive">
					        	<span>5</span>
					          How many bunnies are produced at a time from a doe?
					        </a>
					      </div>
					      <div id="collapseMeatFive" class="collapse" data-parent="#accordion__meat">
					        <div class="card-body">
					          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					        </div>
					      </div>
					    </div>
   					 </div>
				</div>
			</div>
		</div> -->
	<!-- </div> -->
</section>
{% endblock %}
{% block scripts %}
	<script>
		$("#faq").addClass('active');
	</script>
{% endblock %}

