{% extends 'item/base.html' %}
{% load static %}
{% block content %}
<section class="feq__asked__que">
	<div class="container">
		<div class="row">
			{% for item in category %}
			<div class="col-md-12">
				<div class="top__bgr__banner__srvs">
					<div class="top__bgr__banner__srvs__content">
						<img src="{{ item.image.url }}" alt="">
						<div class="faq__ban__txt text-center">
							<div class="section__heading wht__heading no__padding__heading">
								<h1>{{ item.name }}</h1>
							</div>
							<div class="serv_ban_para">
								<p>{{ item.description|linebreaks }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 mx-auto frequently__ask__qans">
					<div id="accordion">
						{% for obj in item.quecat.all %}
					    <div class="card">
					      <div class="card-header">
					      <a class="card-link faq__question" data-toggle="collapse" href="#ques{{ obj.id }}">
					      	<span>{{ forloop.counter }}</span>
					      	 {{ obj.question }}
					        </a>
					      </div>
					      <div id="ques{{ obj.id }}" class="collapse" data-parent="#accordion">
					        <div class="card-body">
					          {{ obj.answer }}
					        </div>
					      </div>
						</div>
						{% endfor %}
					</div>
   					</div>
				</div>
				{% endfor %}
			</div>
			
		</div>
</section>
{% endblock %}
{% block scripts %}
	<script>
		$("#faq").addClass('active');
	</script>
{% endblock %}

